.video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* .grid {
    transform: translateY(50%);
} */

.color{
    background-color: red;
    animation: animate 2s linear infinite;  
}

@keyframes animate{
    0%{
        color: blue;
    }
    100%{
        color: red;
    }
}