.header {
    display: flex !important;
    justify-content: space-between !important;
    gap: 5rem !important;
}

.createButton {
    background-color: #262627 !important;
    border-radius: 50px !important;
}

.inviteCard {
    height: 180px !important;
    width: 400px !important;
    overflow-y: auto !important;
}