.css-levciy-MuiTablePagination-displayedRows {
    margin: auto !important;
}

.css-pdct74-MuiTablePagination-selectLabel {
    margin: auto !important;
}

textarea {
    text-indent: 0.8rem !important;
}