.css-levciy-MuiTablePagination-displayedRows {
    margin: auto !important;
}

.css-pdct74-MuiTablePagination-selectLabel {
    margin: auto !important;
}

.css-17jjc08-MuiDataGrid-footerContainer {
    background-color: #deebff;
}